[Unit]
Description=Run-petclinic systemd service.

[Service]
Type=simple
Environment='JAVA_TOOL_OPTIONS=-Dserver.port=8080 -Xms128m -Xmx256m'
ExecStart=/bin/java -Dspring.profiles.active=mysql -Dspring.datasource.url=jdbc:mysql://172.28.128.6/petclinic -jar /home/vagrant/petclinic.jar

[Install]
WantedBy=multi-user.target
